<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="col-3">
        <img src="/static/images/friend.png" class="rounded float-start" alt="Friend">
    </div>
    <div class="col-3">
    </div>
    <div class="col-3 mx-auto">
        <h4 class="my-0 text-center mr-md-auto font-weight-normal">{{ title }}</h4>
    </div>
    <div class="col-3 mx-auto">
        <nav class="ms-5">
            <div class="row text-center">
                <a class="p-2 btn btn-outline-warning btn-lg" href="/">Главная</a>
            </div>
            <div class="row text-center">

                <a class="p-2 btn btn-outline-warning btn-lg" href="{% url 'catalog:my_contact' %}" role="button">Контакты</a>

            </div>
        </nav>
    </div>
</div>




