{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-offset-12">
    <div class="card box-shadow">
        <div class="card-header">
            <h2 class="my-0 font-weight-normal text-center text-warning">Начнём ...</h2>
        </div>

        <div class="card-body">
            <form method="post" action="" class="form-floating text-center">
                {% csrf_token %}
                <p>Если Вам не нравиться блог "{{ object.title }}" - то прошу подтвердить его удаление</p>

                <button type="submit" class="btn btn-lg  btn-outline-warning">Да, подтвердить</button>
                <a class="btn btn-warning btn-lg mb-6"
                   href="{% url 'catalog:blog' %}"
                   role="button">Отменить удаление, вернуться в блог</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}