{% extends 'catalog/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Название сайта</h1>
    <p class="lead">Вредно, но вкусно</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-lg-8 col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal text-warning">Список вкусняшек</h2>
                </div>
                <div class="mb-4"></div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">ВЫБЕРИ</h4>
                    {% for object in object_list %}
                    <div class="row text-align:left">

                        <div class="col-8">
                            <ol class="list-unstyled mt-3 mb-6 text-start m-3">
                                <li><h5> - {{ object|truncatechars:100 }}</h5></li>
                            </ol>
                        </div>

                        <div class="col-4">
                            <a class="btn btn-outline-warning btn-lg mb-2"
                               href="{% url 'catalog:product' object.pk %}"
                               role="button">Показать</a>
                            <a class="p-2 btn btn-outline-warning btn-lg mb-2"
                               href="/contacts/" role="button">Купить</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal text-warning">Расскажи о своей любилой "Вкусняшке"</h2>
                </div>

                <div class="card-body">
                    <form method="post" action="" class="form-floating text-center"
                    enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="product_name" class="form-label"> </label>
                            <h4>Наименование</h4>
                            <input type="text" name="product_name" class="form-control" id="product_name"
                                   placeholder="напиши название Вкусняшки"
                                   required>
                        </div>
                        <div class="mb-2">
                            <label for="category" class="form-label"></label>
                            <h4>Категория нового продукта</h4>
                            <div class="mb-4"></div>
                            <select class="form-select" name="category" id="category" required>
                                {% for category in category_list %}
                                <option value="{{ category.pk }}">
                                    {{ category }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-2">
                            <label for="price" class="form-label "></label>
                            <h4>Поставь цену</h4>
                            <label for="price" class="form-label ">(От 50 рублей до 5000 рублей за 1 штуку)</label>
                            <input type="text" class="form-range" name="price" min="50" max="5000" id="price">
                        </div>

                        <div class="mb-2">
                            <label for="preview" class="form-label"></label>
                            <h4>Фото</h4>
                            <input class="form-control" name="preview" type="file" id="preview"
                                   placeholder="Загрузи фото нового продукта">
                        </div>

                        <div class="mb-2">
                            <label for="description"></label>
                            <h4>Описание</h4>
                            <textarea name="description" class="form-control" id="description"
                                      placeholder="Напиши историю создания своего продукта и рецепт"
                                      required></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-warning">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
