{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">{{ object.product_name}}</h2>
    <p class="lead">{{ object }}</p>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">

                <img class="card-img-top" src="{{ object.preview|my_media }}">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center text-warning">Свяжитесь с нами</h4>
                </div>
                <a class="btn btn-warning btn-lg mb-6"
                   href="{% url 'catalog:product_create' %}"
                   role="button">Напиши свою историю вкусняшки</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
